<div class="container">
  <mat-card
    *ngFor="let item of data; let i = index"
    [ngClass]="{ expanded: expanded[i] }"
    [class.mat-elevation-z8]="expanded[i]"
  >
    <div class="header">
      <mat-form-field class="itemName">
        <input matInput placeholder="name" value="{{ item.name }}" />
      </mat-form-field>
      <mat-form-field class="itemDir">
        <input
          matInput
          [readonly]="!expanded[i]"
          placeholder="directory path"
          value="{{ item.directory }}"
        />
      </mat-form-field>
      <div class="toggle">
        <button mat-icon-button>
          <mat-icon *ngIf="!expanded[i]" (click)="expanded[i] = !expanded[i]"
            >edit</mat-icon
          >
          <mat-icon *ngIf="expanded[i]" (click)="expanded[i] = !expanded[i]"
            >cancel</mat-icon
          >
        </button>
      </div>
    </div>
    <div class="body" *ngIf="expanded[i]">
      <div class="vertical" *ngFor="let sub of item.subscriptions">
        <div class="title">{{ sub.type }}</div>
        <mat-checkbox
          *ngFor="let package of sub.package"
          [checked]="package.active"
        >
          {{ package.name }}
        </mat-checkbox>
      </div>
      <div class="deleteSave">
        <button mat-icon-button (click)="delete(item)">
          <mat-icon>delete</mat-icon>
        </button>
        <button mat-icon-button (click)="save(item)">
          <mat-icon>save</mat-icon>
        </button>
      </div>
    </div>
  </mat-card>
</div>
